pipeline/FailPipeline.json
{
	"name": "FailPipeline",
	"properties": {
		"activities": [
			{
				"name": "FailActivity",
				"type": "Fail",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"message": "Some fail message",
					"errorCode": "500"
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.KeyVaultSecretURI",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "HTTPURL",
					"value": {
						"value": "@activity('Web2').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"PipelineErrors": {
				"type": "String"
			},
			"HTTPURL": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-28T13:22:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}