pipeline/PL_MT_Copy_Movies_UsingForEach.json
{
	"name": "PL_MT_Copy_Movies_UsingForEach",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_META_GetBlobName",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_SRC_csv_credits",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ACT_ITRC_FOR_BlobFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_GEN_META_GetBlobName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GEN_META_GetBlobName').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ACT_MT_Copy_BlobFiles",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": true
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "LS_ADLS_azurementoringdatalakevk",
											"type": "LinkedServiceReference"
										},
										"path": "log"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_COPY_csv_credits",
									"type": "DatasetReference",
									"parameters": {
										"SourceFilename": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_SINK_csv_credits",
									"type": "DatasetReference",
									"parameters": {
										"TargetFileName": {
											"value": "@concat(replace(item().Name,'.csv','_'), formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Eastern Standard Time'),'yyyyMMddHHmmss'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-05-20T18:46:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}